body{
    font-family: 'Lato', sans-serif;
    background-color: white;
    font-weight: 300;
}
.text-muted{
    color:#BCCBBBB;
}
.text-thin{
    font-weight:100px;
    color:#BCCBBBB;
}
.title-super{
    font-size: 60px;
    color:#F8981C;
}
